<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huyouxiao.space.dao.mapper.UserCredentialEntityMapper" >
    <select id="selectByType"  resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM user_credential
        WHERE user_id = #{userId,jdbcType=BIGINT}
        AND credential_type = #{credentialType,jdbcType=VARCHAR}
        AND data_status = '0'
    </select>


    <update id="obsoleteCredentialByType" >
        update user_credential set
        data_status = '2'
        where user_id = #{userId,jdbcType=BIGINT}
        AND credential_type = #{credentialType,jdbcType=VARCHAR}
    </update>
</mapper>