<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huyouxiao.space.dao.mapper.WordFrequencyEntityMapper" >
    <insert id="batchInsert" parameterType="java.util.List">
        insert ignore  into word_frequency(word_id, word, sensitive_type, frequency, status) values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (#{item.wordId,      jdbcType=BIGINT},
            #{item.word,      jdbcType=VARCHAR},
            #{item.sensitiveType,      jdbcType=VARCHAR},
            #{item.frequency,      jdbcType=BIGINT},
            #{item.status,      jdbcType=VARCHAR})
        </foreach>
    </insert>

    <select id="selectByWord" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from word_frequency
        where word = #{word,jdbcType=VARCHAR}
    </select>

</mapper>